* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  height: 60px;
}

nav button {
  background-color: #eee;
  border: none;
  padding: 10px 20px;
  margin:  5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  
}

nav button:hover {
  background-color: #dcdcdc;
}

main {
  display: flex;
  margin: 20px;
}

.filtro {
  width: 220px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filtro h2 {
  margin-bottom: 15px;
}

.filtro-box {
  margin-bottom: 20px;
}

.filtro-box label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}

.catalogo {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-left: 20px;
}

.produto {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.produto h4 {
  font-size: 16px;
  margin: 10px 0;
}

.produto p {
  font-weight: bold;
  color: #009879;
  margin-bottom: 10px;
}
